<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">

  <test name="Chrome Test">
  	<parameter name="browsers" value="chrome"/>
  	<classes>
      <class name="testCase.LoginTC"/>
      <class name="testCase.MyaccountTC"/>
    </classes>
  </test> <!-- Test -->
    
  <test name="IE Test">
  	<parameter name="browsers" value="ie"/>
  	<classes>
      <class name="testCase.LoginTC"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->