<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none" preserve-order="true">
<parameter name="browsers" value="chrome"/>

  <test name="Invalid Login Test">
  	<classes>
      <class name="testCase.logintestcase.InvalidLoginTest"/>
    </classes>
  </test>
        
  <test name="Valid Login Test">
  	<classes>
      <class name="testCase.logintestcase.ValidLoginTest"/>
    </classes>
  </test>
  
   <test name="Verify MyAccountPage Test">
  	<classes>
      <class name="testCase.logintestcase.ValidLoginTest"/>
      <class name="testCase.myaccounttestcase.MyaccountTC"/>
    </classes>
  </test>
</suite>